<div *ngIf="usuario">
    <h2>Mi Perfil</h2>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Primer Apellido:</strong> {{ usuario.primerApellido }}</p>
    <p><strong>Segundo Apellido:</strong> {{ usuario.segundoApellido }}</p>
    <p><strong>DNI:</strong> {{ usuario.dni }}</p>
    <p><strong>Login:</strong> {{ usuario.login }}</p>
    <p><strong>Contraseña:</strong> {{ usuario.password }}</p>
    <p><strong>Fotografía:</strong> <img [src]="usuario.fotografia" alt="Fotografía" width="50"></p>
    <p><strong>Nombre del Departamento:</strong> {{ usuario.nombreDepartamento }}</p>
    <button (click)="goHome()">Volver a Home</button>
</div>