<div>
    <h2>Actualizar Contraseña</h2>
    <form (ngSubmit)="onUpdatePassword()">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" [(ngModel)]="dni" name="dni" required>
        <br>
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
        <br>
        <button type="submit">Actualizar Contraseña</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
    <button (click)="goHome()">Volver a Home</button>
</div>